<%= form_with(model: [@movie, function]) do |form| %>
  <% if function.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(function.errors.count, "error") %> prohibited this function from being saved:</h2>

      <ul>
        <% function.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :schedule %>
    <%= form.select :schedule, options_for_select([["Select a Schedule", ""], "Matine", "Tanda", "Noche"]), :class => 'genForm_dropBox' %>
  </div>

  <div class="field">
    <%= form.label :room %>
    <%= form.select :room, options_for_select([["Select a Room", ""], "1" ,"2", "3", "4", "5", "6", "7", "8"]), :class => 'genForm_dropBox' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
