<div class="section is-flex-shrink-2">
  <h1 class="title">Nueva función</h1>
  <h2 class="title is-4"><%= @movie.name %></h2>
</div>

<div class="box">
  <%= form_with model: @function, url: movie_functions_path do |form| %>
    <div class="field">
      <label class="label">Horario</label>
      <div class="select">
        <%= form.select :schedule, [["Matine", "matine"], ["Tanda", "tanda"], ["Noche", "noche"]] %>
      </div>
    </div>

    <div class="field">
      <label class="label">Sala</label>
      <div class="select">
        <% rooms = Array.new(8) { |i| ["Sala %i" %[i + 1], i + 1] } %>
        <%= form.select :room, rooms %>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <%= form.submit "Registrar función", :class => "button is-link" %>
      </div>
      <div class="control">
        <%= link_to 'Volver', movies_path, :class => "button is-link is-light" %>
      </div>
  </div>

  <% end %>

</div>
