<p id="notice"><%= notice %></p>

<p>
  <strong>Schedule:</strong>
  <%= @function.schedule %>
</p>

<p>
  <strong>Room:</strong>
  <%= @function.room %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @function.movie_id %>
</p>

<h2>Reservations</h2>
<% for reservation in @function.reservations %>
    <ul>
      <li>
        <p>
          <strong>Seat:</strong>
          <%= reservation.seat %>
        </p>

        <p>
          <strong>Day:</strong>
          <%= reservation.day %>
        </p>
    </li>
  </ul>
<% end %>

<%= link_to 'Add Reservation', new_movie_function_reservation_path(@movie, @function) %> |
<%= link_to 'Back', movies_path %>
