<div class="section is-flex-shrink-2">
  <h1 class="title">Detalles Función</h1>
</div>

<div class="box">
  <h2 class="title is-4"><%= @movie.name %></h2>

  <div class="field">
    <label class="label">Horario: <%= @function.schedule %></label>
  </div>

  <div class="field">
    <label class="label">Sala: <%= @function.room %></label>
  </div>

  <div class="content">
    <label class="label">Días para reservar</label>
    <% (@function.movie.initialDate..@function.movie.finalDate).each do |date| %>
      <p><%= link_to date, new_movie_function_reservation_path(@movie, @function, :date => date), :class => "button is-success is-light" %></p>
    <% end %>

  <div class="field is-grouped">
    <div class="control">
      <%= link_to 'Volver', movies_path, :class => "button is-link is-light" %>
    </div>
  </div>
</div>
