<p id="notice"><%= notice %></p>

  <div class="section is-flex-shrink-2">
    <h1 class="title">Cartelera</h1>
    <%= link_to '+ Registrar Película', new_movie_path, class: "button is-primary is-medium"%>
  </div>
  <div class="container">
  <% @movies.each do |movie| %>
    <div class="box">
      <article  class="media">
        <div class="media-left">
          <figure class="image is-128x128">
          <img src=<%= movie.photo %> alt=<%= movie.name %>>
          </figure>
        </div>
      <div class="media-content">
        <div class="content">
          <p class="title is-4"><%= movie.name %></p>
          <%matine = [] %>
          <%tanda = [] %>
          <%noche = [] %>
          <% movie.functions.each do |function| %>
            <%if function.schedule == 'matine'%>
              <%matine.push(function)%>
            <%elsif function.schedule == 'tanda'%>
              <%tanda.push(function)%>
            <%elsif function.schedule == 'noche'%>
              <%noche.push(function)%>
            <% end %>
            <%end%>
            <p> Matine:
            <%matine.each do |function|%>
              <%= link_to 'SALA %i' %[function.room], movie_function_path(movie, function), class: "tag is-info is-light"%>
            <%end%>
            </p>
            <p> Tanda:  
            <%tanda.each do |function|%>
              <%= link_to 'SALA %i' %[function.room], movie_function_path(movie, function), class: "tag is-info is-light"%>
            <%end%>
            </p>
            <p> Noche:  
            <%noche.each do |function|%>
              <%= link_to 'SALA %i' %[function.room], movie_function_path(movie, function), class: "tag is-info is-light"%>
            <%end%>
            </p>
          <p>Funciones: <%= movie.initialDate %> hasta <%= movie.finalDate %></p>
        </div>

      </div>
    </article>
  </div>
  <% end %>
  </div>
