<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Photo:</strong>
  <img src=<%= @movie.photo %> alt="Italian Trulli">
  <%= @movie.photo %>
</p>

<p>
  <strong>Initialdate:</strong>
  <%= @movie.initialDate %>
</p>

<p>
  <strong>Finaldate:</strong>
  <%= @movie.finalDate %>
</p>

<h2>Functions</h2>
<% @movie.functions.each do |function| %>
  <ul>
    <li>
      <p>
        <strong>Schedule:</strong>
        <%= function.schedule %>
      </p>

      <p>
        <strong>Room:</strong>
        <%= function.room %>
      </p>

      <%= link_to 'Show Function', movie_function_path(@movie, function) %>
    </li>
  </ul>
<% end %>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Add Function', new_movie_function_path(@movie) %> |
<%= link_to 'Back', movies_path %>
